# 2015123056 신재우

## (1) 첨부된 파일을 pandas를 이용해 dataframe의 객체로 만드세요.

In [2]:
import pandas as pd

dataframe = pd.read_csv('./auto-mpg.csv')

print(dataframe)

     18.0  8  307.0  130.0   3504.  12.0  70  1 chevrolet chevelle malibu
0    15.0  8  350.0  165.0  3693.0  11.5  70  1         buick skylark 320
1    18.0  8  318.0  150.0  3436.0  11.0  70  1        plymouth satellite
2    16.0  8  304.0  150.0  3433.0  12.0  70  1             amc rebel sst
3    17.0  8  302.0  140.0  3449.0  10.5  70  1               ford torino
4    15.0  8  429.0  198.0  4341.0  10.0  70  1          ford galaxie 500
..    ... ..    ...    ...     ...   ...  .. ..                       ...
392  27.0  4  140.0  86.00  2790.0  15.6  82  1           ford mustang gl
393  44.0  4   97.0  52.00  2130.0  24.6  82  2                 vw pickup
394  32.0  4  135.0  84.00  2295.0  11.6  82  1             dodge rampage
395  28.0  4  120.0  79.00  2625.0  18.6  82  1               ford ranger
396  31.0  4  119.0  82.00  2720.0  19.4  82  1                chevy s-10

[397 rows x 9 columns]

## (2) dataframe의 객체를 head() 와 tail()을 이용해 3개씩 프린트

In [8]:
print(dataframe.head(3))

    mpg  cylinders  displacement horsepower  weight  asseleration  model year  \
0  15.0          8         350.0      165.0  3693.0          11.5          70
1  18.0          8         318.0      150.0  3436.0          11.0          70
2  16.0          8         304.0      150.0  3433.0          12.0          70

   origin                name
0       1   buick skylark 320
1       1  plymouth satellite
2       1       amc rebel sst

In [9]:
print(dataframe.tail(3))

      mpg  cylinders  displacement horsepower  weight  asseleration  \
394  32.0          4         135.0      84.00  2295.0          11.6
395  28.0          4         120.0      79.00  2625.0          18.6
396  31.0          4         119.0      82.00  2720.0          19.4

     model year  origin           name
394          82       1  dodge rampage
395          82       1    ford ranger
396          82       1     chevy s-10

## (3) dataframe에 column 이름을 아래와 같이 추가 <br>
['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'asseleration', 'model year', 'origin', 'name']

In [7]:
dataframe.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'asseleration', 'model year', 'origin', 'name']
print(dataframe)

      mpg  cylinders  displacement horsepower  weight  asseleration  \
0    15.0          8         350.0      165.0  3693.0          11.5
1    18.0          8         318.0      150.0  3436.0          11.0
2    16.0          8         304.0      150.0  3433.0          12.0
3    17.0          8         302.0      140.0  3449.0          10.5
4    15.0          8         429.0      198.0  4341.0          10.0
..    ...        ...           ...        ...     ...           ...
392  27.0          4         140.0      86.00  2790.0          15.6
393  44.0          4          97.0      52.00  2130.0          24.6
394  32.0          4         135.0      84.00  2295.0          11.6
395  28.0          4         120.0      79.00  2625.0          18.6
396  31.0          4         119.0      82.00  2720.0          19.4

     model year  origin                name
0            70       1   buick skylark 320
1            70       1  plymouth satellite
2            70       1       amc rebel sst
3            70       1         ford torino
4            70       1    ford galaxie 500
..          ...     ...                 ...
392          82       1     ford mustang gl
393          82       2           vw pickup
394          82       1       dodge rampage
395          82       1         ford ranger
396          82       1          chevy s-10

[397 rows x 9 columns]

## (4) 마지막으로 dataframe을 name 열에 따라 정렬(오름차순)

In [13]:
dataframe.sort_values(by="name").head()

,mpg,cylinders,displacement,horsepower,weight,asseleration,model year,origin,name
95,13.0,8,360.0,175.0,3821.0,11.0,73,1,amc ambassador brougham
8,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl
65,17.0,8,304.0,150.0,3672.0,11.5,72,1,amc ambassador sst
256,19.4,6,232.0,90.00,3210.0,17.2,78,1,amc concord
314,24.3,4,151.0,90.00,3003.0,20.1,80,1,amc concord